.Ahorcado {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    font-size: x-large;
    font-weight: bolder;
}

.personaje {
    width: 90%;
    aspect-ratio: 1;
    background-image: url('/public/imagenes/happy-halloween.gif');
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    filter: drop-shadow(10px 10px 8px gray);
}

.personaje .foto {
    width: 100%;
    aspect-ratio: 1;
    background-image: url("/imagenes/person.png");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145%;
}

.banco {
    position: absolute;
    width: 40%;
    bottom: -9%;
    right: 60%;
    transition: right 0.3 ease;
}

@media screen and (orientation:portrait) {
    .Ahorcado {
        width: 100%;
        height: 60%;
    }

    .personaje {
        width: unset;
        height: 100%;
        aspect-ratio: 1;
    }

    @media screen and (max-width:300px) {
        .personaje {
            width: 100%;
            height: unset;
        }

    }

}