.ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: monospace;
  
}

.li.espacio {
     width: 1rem; 
}

.celda {
    display: flex;
    border-bottom: 3px solid black;
}

.visible {
    color: black;
}

.oculta {
    color: transparent;
}