.WordContainer {
    /* background-color: yellow; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
     filter: drop-shadow(10px 10px 8px gray);

}

@media screen and (orientation:portrait) {
    .WordContainer {
        width: 100%;
        height: 40%;
        padding:0 ;
    }

}